html
	head
		title Navigation Bar Homework
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="/styles/index.css")
	body
		block content
